.strong {
    font-size: 22px;
}

.tranShadow {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}

.tranShadow:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.normalShadow {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.striped-bg {
    background: repeating-linear-gradient(135deg, white 0px, 60px, rgb(197, 239, 255) 60px 120px);
}

.striped-bg-warn {
    background: repeating-linear-gradient(135deg, white 0px, 60px, rgb(253, 243, 153) 60px 120px);
}

.striped-bg-secondary {
    background: repeating-linear-gradient(135deg, white 0px, 60px, rgb(228, 227, 227) 60px 120px);
}
.striped-bg-error {
    background: repeating-linear-gradient(135deg, rgb(255, 87, 87) 0px, 60px, rgb(253, 47, 47) 60px 120px);
}

.btnSmallText {
    color: gray;
    font-size: 10px;
}

.center {
    display: grid;
    align-items: center;
    justify-items: center;
}

@font-face {
    font-family: 'bender';
    src: url('/font/bender.otf') format('opentype');
}

.bender {
    font-family: 'bender';
}

.cuteEyes.v-card {
    background-position: right;
    background-size: auto 50%;
    background-repeat: no-repeat;
}

.blurred {
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    transition: all 0.5s;
}

.v-card h1,
.v-card h2,
.v-card h3,
.v-card h4,
.v-card h5,
.v-card h6,
.v-card h7,
.v-card h8,
.v-card h9,
.v-card h10 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

code {
    white-space: pre-wrap;
}

#page-loading {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #444444;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.page-loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* Wiki 用css */
.float-right {
    float: right;
    shape-outside: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    max-width: 100%;
}

.float-left {
    float: left;
    shape-outside: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    max-width: 100%;
}

@media only screen and (max-width: 480px) {
    figure.image {
        float: none;
        margin: 10px auto;
        display: block;
        shape-outside: none;
    }
}

/* 浮动图片（卡片） */
figcaption.imgFigcap {
    background-color: #c0c0c0;
    color: black;
    font: smaller sans-serif;
    padding: 3px;
    text-align: center;
}

figure.image {
    border: thin #c0c0c0 solid;
    margin: 0 0 10px 10px;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
}

.card {

    background-color: white;
    color: black;
    font: sans-serif;
    padding: 10px;

    border: thin #c0c0c0 solid;

}

/* 用户id卡片 */
.user-id-card.theme--light .v-card__text{

    background-color: rgb(241, 241, 241);

}
.user-id-card.theme--dark .v-card__text{

    background-color: #181a1b;

}

/* wiki编辑器卡片背景 */
.wiki-editor.theme--light .v-card__text{

    background-color: rgb(241, 241, 241);

}
.wiki-editor.theme--dark .v-card__text{

    background-color: rgb(0, 0, 0);

}

/* 构建声明卡片 */
.powered-card.theme--light {
    background-color: rgb(241, 241, 241);
}

.powered-card.theme--dark {
    background-color: rgb(0, 0, 0);
}